*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #ddd;
}

.App {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(4, 6rem);
	grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
	justify-content: center;
}

.span-two {
	grid-column: span 2;
}

.output {
	grid-column: 1/-1;
	background: rgb(85, 85, 85);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	padding: 0.75rem;
	word-wrap: break-word;
	word-break: break-all;
}

.App > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid white;
	outline: none;
	background: rgb(126, 101, 101, 0.6);
}

.App > button:hover,
.App > button:focus {
	background: rgb(126, 101, 101, 0.8);
}

.output .previous-operand {
	color: rgb(207, 205, 205);
	font-size: 1.5rem;
}

.output .current-operand {
	color: rgb(255, 255, 255);
	font-size: 2.5rem;
}
